POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
POSTGRES_DB=appdb
IS_DEV=True
BASE_DOMAIN=pageloom.localhost
DEFAULT_SUBDOMAIN=dev
SMTP_HOST=maildev
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_TLS=false
FROM_EMAIL=no-reply@pageloom.localhost
SESSION_SECRET_KEY=SESSION_SECRET_KEY
MFA_ENCRYPTION_KEY=YourBase64EncodedKeyHereMustBe32BytesBase64Encoded=
DEV_SUBDOMAIN=dev
DEV_PASSWORD=devpass123
