POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
POSTGRES_DB=appdb
IS_DEV=True
BASE_DOMAIN=pageloom.localhost
SMTP_HOST=maildev
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_TLS=false
FROM_EMAIL=no-reply@pageloom.localhost
SESSION_SECRET_KEY=SESSION_SECRET_KEY
DEV_SUPERUSER_EMAIL=admin@dev.pageloom.localhost
DEV_SUPERUSER_PASSWORD=devpass123
